In [1]:
print('Ini Kelas Algoritma')

Ini Kelas Algoritma

In [2]:
print("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [180]:
print("I don't understant what are you saying ")

I don't understant what are you saying

In [6]:
print("I don't understant what are you saying")

I don't understant what are you saying

In [152]:
print('she is so smart')

she is so smart

In [153]:
print(" she is so smart ")

 she is so smart

In [154]:
uang_belanja = 2000
uang_di_dompet = 5000
print(uang_belanja)
print(uang_di_dompet)
print(uang_belanja*uang_di_dompet)

2000
5000
10000000

In [155]:
nama_depan = 'Susi '
nama_tengah = 'Susanti '
print(nama_depan + nama_tengah)

Susi Susanti

In [181]:
nama = input(" Siapakah nama anda? ")
kegiatan = input('Apakah kegiatan anda sekarang, ' + nama +"?")
print("Semangat "+ kegiatan +"nya yah, " + nama + "!")

 Siapakah nama anda? Susi Susanti
Apakah kegiatan anda sekarang, Susi Susanti?dance
Semangat dancenya yah, Susi Susanti!

In [157]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang di bank? ")
print("Total uang anda adalah Rp " + uang_di_dompet + uang_di_bank)

Berapakah jumlah uang di dompet anda? 4000
Berapakah jumlah uang di bank? 7000
Total uang anda adalah Rp 40007000

In [158]:
uang_di_celana = input("Berapakah jumlah uang di celana anda? ")
uang_di_baju = input("Berapakah jumlah uang di baju? ")
total_uang = int(uang_di_celana) + int(uang_di_baju)
print("Total uang anda adalah Rp " + str(total_uang))

Berapakah jumlah uang di celana anda? 1000
Berapakah jumlah uang di baju? 3000
Total uang anda adalah Rp 4000

In [159]:
bilangan_satu = input("Masukkan bilangan pertama: ")
bilangan_dua = input("Masukkan bilangan dua: ")
jumlah = float(bilangan_satu) + float(bilangan_dua)
print("Jumlah kedua bilangan adalah " + str(jumlah))

Masukkan bilangan pertama: 5
Masukkan bilangan dua: 4
Jumlah kedua bilangan adalah 9.0

In [35]:
type(uang_di_celana)

str

In [36]:
type(200)

int

In [38]:
type(0.01)

float

In [43]:
type(True)

bool

In [163]:
nama = " Susi Susanti "
status = " mahasiswa "
alamat = " jln. bukit dharma 1 pondok indah no.46 "
print(nama + 'adalah seorang' + status + 'yang beralamat di' + alamat)

 Susi Susanti adalah seorang mahasiswa yang beralamat di jln. bukit dharma 1 pondok indah no.46

In [164]:
print(f'{nama} adalah seorang {status} yang beralamat di {alamat}')

 Susi Susanti  adalah seorang  mahasiswa  yang beralamat di  jln. bukit dharma 1 pondok indah no.46

In [165]:
print(f"{nama} adalah seorang {status} yang beralamat di {alamat}")

 Susi Susanti  adalah seorang  mahasiswa  yang beralamat di  jln. bukit dharma 1 pondok indah no.46

In [69]:
kelas = 'ini kelas algoritma'

In [70]:
print(kelas[0:3])

ini

In [71]:
print(kelas[0:-1])

ini kelas algoritm

In [72]:
print(kelas[5:-1])

elas algoritm

In [73]:
print(kelas[2:-2:3])

ieslr

In [74]:
print(kelas[:3])

ini

In [75]:
print(kelas[2:])

i kelas algoritma

In [76]:
print(kelas[:])

ini kelas algoritma

In [77]:
judul = 'the wonderfull of indonesia'

In [78]:
print(len(judul))

27

In [79]:
judul.upper()

'THE WONDERFULL OF INDONESIA'

In [81]:
judul.lower()

'the wonderfull of indonesia'

In [82]:
judul.find('of')

15

In [91]:
judul.find('te')

-1

In [94]:
judul.replace('the','indonesia')

'indonesia wonderfull of indonesia'

In [96]:
judul.replace('The', 'indonesia')

'the wonderfull of indonesia'

In [97]:
print('Bali' in judul)

False

In [98]:
print("Of" in judul)

False

In [99]:
print('of' in judul)

True

In [100]:
print(10+3)

13

In [101]:
print(3-5)

-2

In [102]:
print(16*7)

112

In [103]:
print(122/5)

24.4

In [104]:
print(122//5)

24

In [105]:
print(10%5)

0

In [107]:
print(5**4)

625

In [108]:
x=3

In [110]:
x+=5

In [111]:
print(x)

8

In [112]:
x-=2

In [113]:
print(x)

6

In [114]:
x*=1

In [115]:
print(x)

6

In [120]:
x= 3<1
print(x)
x = 3<5
print(x)
x = 6 >= 3
print(x)
x = 6 <=7
print(x)
x = 5 == 5
print(x)
x = 5 != 6
print(x)

False
True
True
True
True
True

In [123]:
x = 4>3
print(x)
x = 4<4
print(x)
x = 2 >= 3
print(x)
x = 3 <= 4
print(x)
x = 3 == 5
print(x)
x = 7 != 7
print(x)

True
False
False
True
False
False

In [170]:
buah_jeruk = 15
buah_jambu = 16
print(buah_jeruk > 8 and buah_jambu < 17)

True

In [171]:
print(buah_jeruk < 11 or buah_jambu > 13)

True

In [168]:
print(buah_jeruk > 11 or buah_jambu > 17)

True

In [177]:
print(not(buah_jeruk < 16 or buah_jambu > 18))

False

In [178]:
nilai = float(input('nilai anda adalah'))
if nilai >= 85:
    print('good job! anda mendapatkan nilai A')
    print('pertahankan prestasimu!')
if nilai < 76 and nilai >= 75:
    print('good job! anda mendapat nilai B')
    print('tingkatkna lagi prestasimu!')
if nilai < 75 and nilai >= 50 :
    print("anda mendapat nilai C")
    print('ayo tingkatkan lagi prestasimu')
if nilai < 60:
    print('anda mendapat nilai D')
    print('ulang lagi tahun depan')

nilai anda adalah83

In [179]:
tinggi = float(input('berapakah tinggi anda?'))
cm_atau_inci = input('tingginya dalam cm atau inci?')
if cm_atau_inci.upper()=='CM':
    tinggi = tinggi*0.393701
    print('tinggi anda adalah' + str(tinggi) + "inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f'tinggi anda adalah {tinggi} cm')

berapakah tinggi anda?150
tingginya dalam cm atau inci?cm
tinggi anda adalah59.055150000000005inci

In [148]:
a = 2
while a < 5:
    print('angka' + str(a) + "masih dibawah 6")
    a += 1

angka2masih dibawah 6
angka3masih dibawah 6
angka4masih dibawah 6

In [150]:
a = 0
while a < 5:
    print(a*'*')
    a += 2

**
****